@model Shop.Models.OpenWeather.SearchViewModel

<form method="post">
    <div class="form-group col-md-offset-5 col-md-5">
        <h2>Search the forecast in a city</h2>
        <label asp-for="CityNameTallinn" style="font-family: Arial"></label>
        <input asp-for="CityNameTallinn" class="form-control" />
        <span asp-validation-for="CityNameTallinn" class="text-danger"></span>
    </div>

    <div class="container">
        <div class="form-group col-md-offset-3 col-md-5">
            <button asp-controller="OpenWeather" asp-action="SearchCity" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
